@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #583C87;
    top: 85%;
    left: 85%;
    animation-duration: 31s;
    animation-delay: -25s;
    transform-origin: -16vw 10vh;
    box-shadow: 40vmin 0 5.745584909137891vmin currentColor;
}
.background span:nth-child(1) {
    color: #E45A84;
    top: 93%;
    left: 95%;
    animation-duration: 15s;
    animation-delay: -13s;
    transform-origin: -17vw -19vh;
    box-shadow: 40vmin 0 5.192743186021209vmin currentColor;
}
.background span:nth-child(2) {
    color: #FFACAC;
    top: 34%;
    left: 93%;
    animation-duration: 26s;
    animation-delay: -8s;
    transform-origin: -1vw 7vh;
    box-shadow: -40vmin 0 5.919029378304234vmin currentColor;
}
.background span:nth-child(3) {
    color: #f9f9f9;
    top: 61%;
    left: 8%;
    animation-duration: 45s;
    animation-delay: -42s;
    transform-origin: 13vw 0vh;
    box-shadow: -40vmin 0 5.2944887808678205vmin currentColor;
}
.background span:nth-child(4) {
    color: #393939;
    top: 29%;
    left: 83%;
    animation-duration: 53s;
    animation-delay: -36s;
    transform-origin: 20vw -10vh;
    box-shadow: -40vmin 0 5.587541130203498vmin currentColor;
}
.background span:nth-child(5) {
    color: #E45A84;
    top: 81%;
    left: 82%;
    animation-duration: 8s;
    animation-delay: -15s;
    transform-origin: -20vw -4vh;
    box-shadow: -40vmin 0 5.026451286291313vmin currentColor;
}